:root {
    --white--color: #fff;
    --black--color: #000;
    --text--color: #333;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(247, 247, 247);
}
@keyframes fadein{
    from {
opacity: 0;
    }
    to {
Opacity: 1;
    }
} 
